-- ============================================================
-- SECTION 1: DATABASE SETUP
-- ============================================================

-- Create the database required for the system.
CREATE DATABASE IF NOT EXISTS testDb;

USE testDb;
-- ============================================================
-- SECTION 2: UNITS TABLE
-- ============================================================

-- Create the Units table.
-- Define all required columns, data types, constraints,
-- and the primary key according to the project specification.

CREATE TABLE Units (
Id int PRIMARY KEY,
UnitName varchar(255) default 'Unknown Unit',
Sector varchar(255) default 'General'
);


-- ============================================================
-- SECTION 3: ASSETS TABLE
-- ============================================================

-- Create the Assets table.
-- Define all required columns, data types, constraints,
-- and the primary key according to the project specification.

CREATE TABLE IF NOT EXISTS Assets (
Id int PRIMARY KEY,
UnitId int NOT NULL,
AssetSerial varchar(255) NOT NULL,
AssetType varchar(255) default 'GenericAsset' NOT NULL,
CONSTRAINT fk_unit
FOREIGN KEY (UnitId)
REFERENCES Units(Id)
);

-- ============================================================
-- SECTION 4: ASSETLIVESTATUSES TABLE
-- ============================================================

-- Create the AssetLiveStatuses table.
-- Define all required columns, data types, constraints,
-- and the primary key according to the project specification.

CREATE TABLE AssetLiveStatus (
AssetId int PRIMARY KEY,
AssetType varchar(255) NOT NULL,
RawVAlue varchar(255) NOT NULL,
ProcessedStatus varchar(255) NOT NULL,
IsVerified bool NOT NULL,
LastUpdate DateTime NOT NULL,
CONSTRAINT name_asset check (AssetType='UAV' or AssetType=' PerimeterSensor'),
CONSTRAINT fk_asset
FOREIGN KEY (AssetId)
REFERENCES Assets(Id)
);


